In [1]:
import pandas as pd 

df = pd.read_csv(r'data/Euronext_Equities_2025-08-19.csv', sep = ';')

In [2]:
df['Market'].dropna().unique()

array(['Oslo BÃ¸rs', 'Euronext Growth Paris', 'EuroTLX',
       'Euronext Global Equity Market', 'Trading After Hours',
       'Euronext Growth Milan', 'Euronext Expand Oslo', 'Euronext Paris',
       'Euronext Milan', 'Euronext Amsterdam', 'Euronext Growth Oslo',
       'Euronext Brussels', 'Euronext Expert Market',
       'Euronext Brussels, Paris', 'Euronext Access Paris',
       'Euronext Access Brussels', 'Euronext Brussels, Amsterdam',
       'Euronext Amsterdam, Brussels', 'Euronext Dublin',
       'Euronext Paris, Amsterdam', 'Euronext Lisbon',
       'Euronext Amsterdam, Brussels, Paris', 'Euronext Growth Dublin',
       'Euronext Amsterdam, Paris', 'Euronext Access Lisbon',
       'Euronext Growth Brussels', 'Euronext Paris, Brussels',
       'Euronext Paris, Amsterdam, Brussels',
       'Euronext Growth Brussels, Paris',
       'Euronext Growth Paris, Brussels',
       'Euronext Brussels, Amsterdam, Paris', 'Euronext Growth Lisbon'],
      dtype=object)

In [3]:
import yfinance as yf
data = yf.Ticker('2020.OL')

In [4]:
data.info

{'address1': 'S.E. Pearman Building',
 'address2': '2nd Floor 9 Par-la-Ville Road',
 'city': 'Hamilton',
 'zip': 'HM11',
 'country': 'Bermuda',
 'phone': '441-542-9329',
 'website': 'https://2020bulkers.com',
 'industry': 'Marine Shipping',
 'industryKey': 'marine-shipping',
 'industryDisp': 'Marine Shipping',
 'sector': 'Industrials',
 'sectorKey': 'industrials',
 'sectorDisp': 'Industrials',
 'longBusinessSummary': '2020 Bulkers Ltd. owns and operates large dry bulk vessels worldwide. The company operates six scrubber fitted 208,000 deadweight tonnage Newcastlemax dry bulk vessels. 2020 Bulkers Ltd. was incorporated in 2017 and is based in Hamilton, Bermuda.',
 'fullTimeEmployees': 7,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Lars-Christian  Svensen',
   'age': 38,
   'title': 'Chief Executive Officer',
   'yearBorn': 1986,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Vidar  Hasund',
   'age': 46,
   'title': 'Chief Financial Officer',
   'yearBorn': 1978,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christian  Dahll',
   'title': 'Chief Operational Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Petter  Lalic',
   'title': 'Chief Technology Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Kseniia  Sheiko',
   'title': 'Group Controller',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 137.2,
 'open': 138.6,
 'dayLow': 134.5,
 'dayHigh': 138.6,
 'regularMarketPreviousClose': 137.2,
 'regularMarketOpen': 138.6,
 'regularMarketDayLow': 134.5,
 'regularMarketDayHigh': 138.6,
 'dividendRate': 23.73,
 'dividendYield': 17.54,
 'exDividendDate': 1757980800,
 'payoutRatio': 1.4343,
 'fiveYearAvgDividendYield': 13.09,
 'beta': 0.682,
 'trailingPE': 13.778005,
 'forwardPE': 72.35294,
 'volume': 128323,
 'regularMarketVolume': 128323,
 'averageVolume': 144465,
 'averageVolume10days': 209720,
 'averageDailyVolume10Day': 209720,
 'bid': 135.0,
 'ask': 136.5,
 'marketCap': 3094433536,
 'fiftyTwoWeekLow': 86.8,
 'fiftyTwoWeekHigh': 158.8,
 'allTimeHigh': 174.8,
 'allTimeLow': 39.0,
 'priceToSalesTrailing12Months': 53.816235,
 'fiftyDayAverage': 136.882,
 'twoHundredDayAverage': 125.1955,
 'trailingAnnualDividendRate': 1.38,
 'trailingAnnualDividendYield': 0.010058309,
 'currency': 'NOK',
 'tradeable': False,
 'enterpriseValue': 3190433536,
 'profitMargins': 0.39304,
 'floatShares': 20698856,
 'sharesOutstanding': 22870906,
 'heldPercentInsiders': 0.08993,
 'heldPercentInstitutions': 0.31633,
 'impliedSharesOutstanding': 22870906,
 'bookValue': 6.537,
 'priceToBook': 20.697567,
 'lastFiscalYearEnd': 1735603200,
 'nextFiscalYearEnd': 1767139200,
 'mostRecentQuarter': 1751241600,
 'earningsQuarterlyGrowth': -0.817,
 'netIncomeToCommon': 22600000,
 'trailingEps': 9.82,
 'forwardEps': 1.87,
 'enterpriseToRevenue': 55.486,
 'enterpriseToEbitda': 86.462,
 '52WeekChange': -0.14529377,
 'SandP52WeekChange': 0.17904854,
 'lastDividendValue': 0.2,
 'lastDividendDate': 1757980800,
 'quoteType': 'EQUITY',
 'currentPrice': 135.3,
 'targetHighPrice': 164.73642,
 'targetLowPrice': 134.81694,
 'targetMeanPrice': 148.76405,
 'targetMedianPrice': 146.7389,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 3,
 'totalCash': 14600000,
 'totalCashPerShare': 0.638,
 'ebitda': 36900000,
 'totalDebt': 110400000,
 'quickRatio': 2.476,
 'currentRatio': 3.048,
 'totalRevenue': 57500000,
 'debtToEquity': 73.747,
 'revenuePerShare': 2.514,
 'returnOnAssets': 0.06373,
 'returnOnEquity': 0.14649999,
 'grossProfits': 40700000,
 'freeCashflow': 22737500,
 'operatingCashflow': 30200000,
 'earningsGrowth': -0.817,
 'revenueGrowth': -0.648,
 'grossMargins': 0.70782995,
 'ebitdaMargins': 0.64174,
 'operatingMargins': 0.45255002,
 'financialCurrency': 'USD',
 'symbol': '2020.OL',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': False,
 'customPriceAlertConfidence': 'LOW',
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': 1562914800000,
 'shortName': '2020 BULKERS',
 'longName': '2020 Bulkers Ltd.',
 'regularMarketChange': -1.8999939,
 'regularMarketDayRange': '134.5 - 138.6',
 'fullExchangeName': 'Oslo',
 'averageDailyVolume3Month': 144465,
 'fiftyTwoWeekLowChange': 48.5,
 'fiftyTwoWeekLowChangePercent': 0.55875576,
 'fiftyTwoWeekRange': '86.8 - 158.8',
 'fiftyTwoWeekHighChange': -23.5,
 'fiftyTwoWeekHighChangePercent': -0.14798488,
 'fiftyTwoWeekChangePercent': -14.529377,
 'earningsTimestamp': 1762957200,
 'earningsTimestampStart': 1762957200,
 'earningsTimestampEnd': 1762957200,
 'earningsCallTimestampStart': 1755090000,
 'earningsCallTimestampEnd': 1755090000,
 'isEarningsDateEstimate': False,
 'epsTrailingTwelveMonths': 9.82,
 'epsForward': 1.87,
 'epsCurrentYear': 1.1188,
 'priceEpsCurrentYear': 120.93314,
 'fiftyDayAverageChange': -1.5820007,
 'fiftyDayAverageChangePercent': -0.011557405,
 'twoHundredDayAverageChange': 10.1045,
 'twoHundredDayAverageChangePercent': 0.08070976,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 15,
 'averageAnalystRating': '2.0 - Buy',
 'cryptoTradeable': False,
 'exchange': 'OSL',
 'messageBoardId': 'finmb_544117951',
 'exchangeTimezoneName': 'Europe/Oslo',
 'exchangeTimezoneShortName': 'CEST',
 'gmtOffSetMilliseconds': 7200000,
 'market': 'no_market',
 'esgPopulated': False,
 'marketState': 'PREPRE',
 'regularMarketChangePercent': -1.3848352,
 'regularMarketPrice': 135.3,
 'corporateActions': [],
 'regularMarketTime': 1759501641,
 'trailingPegRatio': None}

In [5]:
data.income_stmt

,2024-12-31,2023-12-31,2022-12-31,2021-12-31
Tax Effect Of Unusual Items,3.718182e+05,0.000000e+00,0.000000e+00,0.000000e+00
Tax Rate For Calcs,9.091000e-03,5.535100e-02,3.125000e-03,0.000000e+00
Normalized EBITDA,5.240000e+07,4.990000e+07,5.310000e+07,9.200000e+07
Total Unusual Items,4.090000e+07,0.000000e+00,NaN,NaN
Total Unusual Items Excluding Goodwill,4.090000e+07,0.000000e+00,NaN,NaN
Net Income From Continuing Operation Net Minority Interest,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Reconciled Depreciation,9.500000e+06,1.160000e+07,1.170000e+07,1.170000e+07
Reconciled Cost Of Revenue,2.650000e+07,3.190000e+07,3.140000e+07,3.220000e+07
EBITDA,9.330000e+07,4.990000e+07,5.310000e+07,9.200000e+07
EBIT,8.380000e+07,3.830000e+07,4.140000e+07,8.030000e+07
Net Interest Income,-6.700000e+06,-1.060000e+07,-9.500000e+06,-9.600000e+06
Interest Expense,6.800000e+06,1.120000e+07,9.400000e+06,9.500000e+06
Interest Income,1.000000e+05,6.000000e+05,NaN,NaN
Normalized Income,3.577182e+07,2.560000e+07,3.190000e+07,7.080000e+07
Net Income From Continuing And Discontinued Operation,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Total Expenses,2.890000e+07,3.200000e+07,3.460000e+07,3.340000e+07
Total Operating Income As Reported,8.370000e+07,3.770000e+07,4.150000e+07,8.040000e+07
Diluted Average Shares,2.287425e+07,2.257493e+07,2.251994e+07,2.255692e+07
Basic Average Shares,2.287091e+07,2.257493e+07,2.222091e+07,2.218460e+07
Diluted EPS,3.340000e+00,1.130000e+00,1.420000e+00,3.140000e+00
Basic EPS,3.340000e+00,1.130000e+00,1.440000e+00,3.190000e+00
Diluted NI Availto Com Stockholders,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Net Income Common Stockholders,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Otherunder Preferred Stock Dividend,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Net Income,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Net Income Including Noncontrolling Interests,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Net Income Continuous Operations,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Tax Provision,7.000000e+05,1.500000e+06,1.000000e+05,0.000000e+00
Pretax Income,7.700000e+07,2.710000e+07,3.200000e+07,7.080000e+07
Special Income Charges,4.090000e+07,0.000000e+00,NaN,NaN
Other Special Charges,-4.090000e+07,NaN,NaN,NaN
Net Non Operating Interest Income Expense,-6.700000e+06,-1.060000e+07,-9.500000e+06,-9.600000e+06
Total Other Finance Cost,-1.000000e+05,-6.000000e+05,1.000000e+05,1.000000e+05
Interest Expense Non Operating,6.800000e+06,1.120000e+07,9.400000e+06,9.500000e+06
Interest Income Non Operating,1.000000e+05,6.000000e+05,NaN,NaN
Operating Income,4.280000e+07,3.770000e+07,4.150000e+07,8.040000e+07
Operating Expense,2.400000e+06,1.000000e+05,3.200000e+06,1.200000e+06
Selling General And Administration,3.900000e+06,3.400000e+06,4.400000e+06,3.300000e+06
General And Administrative Expense,3.900000e+06,3.400000e+06,4.400000e+06,3.300000e+06
Gross Profit,4.520000e+07,3.780000e+07,4.470000e+07,8.160000e+07
Cost Of Revenue,2.650000e+07,3.190000e+07,3.140000e+07,3.220000e+07
Total Revenue,7.170000e+07,6.970000e+07,7.610000e+07,1.138000e+08
Operating Revenue,7.170000e+07,6.970000e+07,7.610000e+07,1.138000e+08

In [33]:
data.income_stmt

,2024-12-31,2023-12-31,2022-12-31,2021-12-31
Tax Effect Of Unusual Items,3.718182e+05,0.000000e+00,0.000000e+00,0.000000e+00
Tax Rate For Calcs,9.091000e-03,5.535100e-02,3.125000e-03,0.000000e+00
Normalized EBITDA,5.240000e+07,4.990000e+07,5.310000e+07,9.200000e+07
Total Unusual Items,4.090000e+07,0.000000e+00,NaN,NaN
Total Unusual Items Excluding Goodwill,4.090000e+07,0.000000e+00,NaN,NaN
Net Income From Continuing Operation Net Minority Interest,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Reconciled Depreciation,9.500000e+06,1.160000e+07,1.170000e+07,1.170000e+07
Reconciled Cost Of Revenue,2.650000e+07,3.190000e+07,3.140000e+07,3.220000e+07
EBITDA,9.330000e+07,4.990000e+07,5.310000e+07,9.200000e+07
EBIT,8.380000e+07,3.830000e+07,4.140000e+07,8.030000e+07
Net Interest Income,-6.700000e+06,-1.060000e+07,-9.500000e+06,-9.600000e+06
Interest Expense,6.800000e+06,1.120000e+07,9.400000e+06,9.500000e+06
Interest Income,1.000000e+05,6.000000e+05,NaN,NaN
Normalized Income,3.577182e+07,2.560000e+07,3.190000e+07,7.080000e+07
Net Income From Continuing And Discontinued Operation,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Total Expenses,2.890000e+07,3.200000e+07,3.460000e+07,3.340000e+07
Total Operating Income As Reported,8.370000e+07,3.770000e+07,4.150000e+07,8.040000e+07
Diluted Average Shares,2.287425e+07,2.257493e+07,2.251994e+07,2.255692e+07
Basic Average Shares,2.287091e+07,2.257493e+07,2.222091e+07,2.218460e+07
Diluted EPS,3.340000e+00,1.130000e+00,1.420000e+00,3.140000e+00
Basic EPS,3.340000e+00,1.130000e+00,1.440000e+00,3.190000e+00
Diluted NI Availto Com Stockholders,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Net Income Common Stockholders,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Otherunder Preferred Stock Dividend,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Net Income,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Net Income Including Noncontrolling Interests,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Net Income Continuous Operations,7.630000e+07,2.560000e+07,3.190000e+07,7.080000e+07
Tax Provision,7.000000e+05,1.500000e+06,1.000000e+05,0.000000e+00
Pretax Income,7.700000e+07,2.710000e+07,3.200000e+07,7.080000e+07
Special Income Charges,4.090000e+07,0.000000e+00,NaN,NaN
Other Special Charges,-4.090000e+07,NaN,NaN,NaN
Net Non Operating Interest Income Expense,-6.700000e+06,-1.060000e+07,-9.500000e+06,-9.600000e+06
Total Other Finance Cost,-1.000000e+05,-6.000000e+05,1.000000e+05,1.000000e+05
Interest Expense Non Operating,6.800000e+06,1.120000e+07,9.400000e+06,9.500000e+06
Interest Income Non Operating,1.000000e+05,6.000000e+05,NaN,NaN
Operating Income,4.280000e+07,3.770000e+07,4.150000e+07,8.040000e+07
Operating Expense,2.400000e+06,1.000000e+05,3.200000e+06,1.200000e+06
Selling General And Administration,3.900000e+06,3.400000e+06,4.400000e+06,3.300000e+06
General And Administrative Expense,3.900000e+06,3.400000e+06,4.400000e+06,3.300000e+06
Gross Profit,4.520000e+07,3.780000e+07,4.470000e+07,8.160000e+07
Cost Of Revenue,2.650000e+07,3.190000e+07,3.140000e+07,3.220000e+07
Total Revenue,7.170000e+07,6.970000e+07,7.610000e+07,1.138000e+08
Operating Revenue,7.170000e+07,6.970000e+07,7.610000e+07,1.138000e+08

In [46]:
year_av = []
df = data.history(period="10y")
df.index = df.index.tz_localize(None)

for end_date in list(data.incomestmt.loc['Diluted EPS'].index):
    start_date = end_date - pd.DateOffset(years=1)
    average = df.loc[start_date:end_date]['Close'].mean()
    year_av.append(float(average))

In [48]:
year_av.reverse()

In [49]:
year_av

[96.77774839552622, 101.5785928959903, 99.36319723547217, 143.8657020263672]

In [29]:
hist_data = data.history(period="10y")
hist_data.index = hist_data.index.tz_localize(None)

In [37]:
hist_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-07-12,79.637098,82.194255,75.801369,75.801369,40831,0.0,0.0
2019-07-15,75.801370,76.696377,73.974831,73.974831,8810,0.0,0.0
2019-07-16,73.974831,73.974831,73.061561,73.974831,21400,0.0,0.0
2019-07-17,73.974831,73.974831,73.527331,73.974831,12966,0.0,0.0
2019-07-18,73.070696,73.070696,70.330888,73.061562,4789,0.0,0.0
...,...,...,...,...,...,...,...
2025-09-29,143.699997,143.800003,135.600006,135.600006,413393,0.0,0.0
2025-09-30,135.399994,136.199997,133.600006,134.300003,255819,0.0,0.0
2025-10-01,134.300003,135.199997,133.100006,134.000000,199156,0.0,0.0
2025-10-02,136.800003,138.699997,135.699997,137.199997,161770,0.0,0.0
2025-10-03,138.600006,138.600006,134.500000,135.300003,128323,0.0,0.0

In [36]:
t1 = data.incomestmt.loc['Diluted EPS'].index[-1] - pd.DateOffset(years=1)
hist_data.loc[t1:data.incomestmt.loc['Diluted EPS'].index[-1]]['Close'].mean()

np.float64(96.7777450046842)

In [32]:
hist_data.index[0]

Timestamp('2019-07-12 00:00:00')

In [31]:
hist_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-07-12,79.637098,82.194255,75.801369,75.801369,40831,0.0,0.0
2019-07-15,75.801370,76.696377,73.974831,73.974831,8810,0.0,0.0
2019-07-16,73.974831,73.974831,73.061561,73.974831,21400,0.0,0.0
2019-07-17,73.974831,73.974831,73.527331,73.974831,12966,0.0,0.0
2019-07-18,73.070696,73.070696,70.330888,73.061562,4789,0.0,0.0
...,...,...,...,...,...,...,...
2025-09-29,143.699997,143.800003,135.600006,135.600006,413393,0.0,0.0
2025-09-30,135.399994,136.199997,133.600006,134.300003,255819,0.0,0.0
2025-10-01,134.300003,135.199997,133.100006,134.000000,199156,0.0,0.0
2025-10-02,136.800003,138.699997,135.699997,137.199997,161770,0.0,0.0
2025-10-03,138.600006,138.600006,134.500000,135.300003,128323,0.0,0.0